<% include ./partials/headeragentcustomer %>

    <div class="container">
        <div class="row">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                
                <div class="col-md-8 col-sm-8 col-lg-8">
                    <h1 style="text-align: center">Search For Products</h1>
                    <h2 style="text-align: center">Comma Seperated</h2>
                    <form action="/customersearch" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" rows="10" type="text" name="search_products_keywords" placeholder="Queries" required></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                </div>
                
                <div class="col-md-4 col-sm-4 col-lg-4">    
                    <h1 style="text-align: center">Search Products Results: </h1>
                    <div id = "searchFieldForm1" class="form-group">
                        <p id="searchField1"></p>
                        <button onclick="details(0)" class="btn btn-lg btn-success btn-block">More Details</button>
                    </div>
                    <div id = "searchFieldForm2" class="form-group">
                        <p id="searchField2"></p>
                        <button onclick="details(1)" class="btn btn-lg btn-success btn-block">More Details</button>
                    </div>
                    <div id = "searchFieldForm3" class="form-group">
                        <p id="searchField3"></p>
                        <button onclick="details(2)" class="btn btn-lg btn-success btn-block">More Details</button>
                    </div>
                    <div id = "searchFieldForm4" class="form-group">
                        <p id="searchField4"></p>
                        <button onclick="details(3)" class="btn btn-lg btn-success btn-block">More Details</button>
                    </div>
                    <div id = "searchFieldForm5" class="form-group">
                        <p id="searchField5"></p>
                        <button onclick="details(4)" class="btn btn-lg btn-success btn-block">More Details</button>
                    </div>
                    <button id = "next5Button" onclick="list()" class="btn btn-lg btn-primary btn-block">Next 5</button>
                </div>
                
                <div class="col-md-4 col-sm-4 col-lg-4">    
                    <h1 style="text-align: center">Product Details: </h1>
                        <div class="form-group">
                            <input id="quantityField" class="form-control" type="number" min="1" placeholder="1" required>
                        </div>
                        <ul id="productDetails">
                        </ul>
                </div>
                
                <div class="col-md-4 col-sm-4 col-lg-4">    
                    <h1 style="text-align: center">Basket: </h1>
                        <ul id="basket">
                            
                        </ul>
                    <button id = "order" onclick="order()" class="btn btn-lg btn-primary btn-block">Order</button>
                </div>
                
                <div class="col-md-4 col-sm-4 col-lg-4">    
                    <h1 style="text-align: center">Orders: </h1>
                    <form action="/customerlist" method="POST">
                        <div class="form-group">
                            <button id = "listOrders" class="btn btn-lg btn-primary btn-block">List Orders!</button>
                        </div>
                    </form>
                </div>
                
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <h1 style="text-align: center">Orders: </h1>
                    <ul id="orderlist">
                        <% for(var i=0; i < orderList.length; i++) { %>
                           <li>
                             <p>oid : <%= orderList[i].oid %></p>
                             <p>cid : <%= orderList[i].cid %></p>
                             <p>PickUpTime : <%= orderList[i].odate %></p>
                             <p>DropOffTime : <%= orderList[i].address %></p>
                           </li>
                        <% } %>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    
    <script>
        var productArray = [];
        if(<%- JSON.stringify(productArray) %> != {}){
            productArray = <%- JSON.stringify(productArray) %>;
        }
        
        var cid = '<%=cid%>';
        
        var counter = 0;
        
        var searchFieldForm1 = document.getElementById("searchFieldForm1");
        var searchFieldForm2 = document.getElementById("searchFieldForm2");
        var searchFieldForm3 = document.getElementById("searchFieldForm3");
        var searchFieldForm4 = document.getElementById("searchFieldForm4");
        var searchFieldForm5 = document.getElementById("searchFieldForm5");
        
        var searchField1 = document.getElementById("searchField1");
        var searchField2 = document.getElementById("searchField2");
        var searchField3 = document.getElementById("searchField3");
        var searchField4 = document.getElementById("searchField4");
        var searchField5 = document.getElementById("searchField5");
        
        var next5Button = document.getElementById("next5Button");
        
        var productDetails = document.getElementById("productDetails");
        var productDetailsText = document.getElementById("productDetailsText");
        productDetails.style.display = "none";
        
        var basket = document.getElementById("basket");
        
        document.getElementById("quantityField").defaultValue = 1;
        
        if(productArray.length < 5 && productArray.length != undefined){
            next5Button.style.display = "none";
            switch(productArray.length){
                case 0:
                    searchFieldForm1.style.display = "none";
                    searchFieldForm2.style.display = "none";
                    searchFieldForm3.style.display = "none";
                    searchFieldForm4.style.display = "none";
                    searchFieldForm5.style.display = "none";
                    break;
                case 1: 
                    searchFieldForm1.style.display = "none";
                    searchFieldForm2.style.display = "none";
                    searchFieldForm3.style.display = "none";
                    searchFieldForm4.style.display = "none";
                    searchField5.innerHTML = assignText(0); 
                    break;
                case 2: 
                    searchFieldForm1.style.display = "none";
                    searchFieldForm2.style.display = "none";
                    searchFieldForm3.style.display = "none";
                    searchField4.innerHTML = assignText(0); 
                    searchField5.innerHTML = assignText(1); 
                    break;
                case 3:
                    searchFieldForm1.style.display = "none";
                    searchFieldForm2.style.display = "none";
                    searchField3.innerHTML = assignText(0); 
                    searchField4.innerHTML = assignText(1); 
                    searchField5.innerHTML = assignText(2); 
                    break;
                case 4:
                    searchFieldForm1.style.display = "none";
                    searchField2.innerHTML = assignText(0);  
                    searchField3.innerHTML = assignText(1); 
                    searchField4.innerHTML = assignText(2); 
                    searchField5.innerHTML = assignText(3); 
                    break;
            }
        } else if (productArray.length != undefined) {
            searchField1.innerHTML = assignText(0); 
            searchField2.innerHTML = assignText(1);  
            searchField3.innerHTML = assignText(2);  
            searchField4.innerHTML = assignText(3);  
            searchField5.innerHTML = assignText(4); 
        } else {
            searchFieldForm1.style.display = "none";
            searchFieldForm2.style.display = "none";
            searchFieldForm3.style.display = "none";
            searchFieldForm4.style.display = "none";
            searchFieldForm5.style.display = "none";
            next5Button.style.display = "none";
        }
        
        function list(){
            
            counter += 5;
            
            searchField1.innerHTML = assignText(counter % productArray.length); 
            searchField2.innerHTML = assignText((counter + 1) % productArray.length); 
            searchField3.innerHTML = assignText((counter + 2) % productArray.length);
            searchField4.innerHTML = assignText((counter + 3) % productArray.length);
            searchField5.innerHTML = assignText((counter + 4) % productArray.length);
            
        }
        
        function assignText(value){
            var str = "Product ID : " + productArray[value].productID + 
                    "<br>Product Name : " + productArray[value].productName + 
                    "<br>Product Unit : " + productArray[value].productUnit + 
                    "<br>Number of stores that carries : " + productArray[value].numStoresCarry + 
                    "<br>Minimum Price of that carries : " + productArray[value].minCarryPrice + 
                    "<br>Minimum of stores with stock : " + productArray[value].numStoresWithStock + 
                    "<br>Minimum Price of store with stock : " + productArray[value].minCarryPriceWithStock + 
                    "<br>Number of orders within the past 7 days : " + productArray[value].ordersPast7;
            return str;
        }
        
        function details(val){
            productDetails.style.display = "inline";
            if(productArray.length < 5){
                switch(val){
                    case 0: 
                        assignTextDetails(4);
                        break;
                    case 1:
                        assignTextDetails(3);
                        break;
                    case 2: 
                        assignTextDetails(2);
                        break;
                    case 3: 
                        assignTextDetails(1);
                        break;
                    case 4: 
                        assignTextDetails(0);
                        break;
                }
            } else {
                productDetailsText.innerHTML = assignTextDetails((counter + val) % productArray.length);
            }
        }
        
        var basketArray = [];
        if(<%- JSON.stringify(basketArray) %> != {} && <%- JSON.stringify(basketArray) %> != []){
            basketArray = <%- JSON.stringify(basketArray) %>;
            for(var i = 0; i < basketArray.length; i++){
                var node = document.createElement("LI");
                node.id = "order" + basketArray[i].pid;
                var pidTextNode = document.createElement("P");
                var quantityTextNode = document.createElement("P");
                pidTextNode.appendChild(document.createTextNode("pid : " + basketArray[i].pid));
                quantityTextNode.appendChild(document.createTextNode("quantity : " + basketArray[i].qty));
                quantityTextNode.id = "qtyorder" + basketArray[i].qty;
                
                var button = document.createElement("input");
                button.type = "button";
                
                button.data = basketArray[i].pid;
                button.value = "Delete!";
                
                button.onclick = function(){
                    for(var ord = 0; ord < basketArray.length; ord++){
                        if(basketArray[ord].pid == this.data){
                            basketArray.splice(ord);
                            basket.removeChild(document.getElementById("order" + this.data));
                            break;
                        }
                    }
                }
                
                node.appendChild(pidTextNode);
                node.appendChild(quantityTextNode);
                node.appendChild(button);
                basket.appendChild(node);
            }
        }
        
        function assignTextDetails(value){
            while (productDetails.firstChild) {
                productDetails.removeChild(productDetails.firstChild);
            }
            var str = "- Product ID : " + productArray[value].productID + 
                    " - Product Name : " + productArray[value].productName + 
                    " - Product Unit : " + productArray[value].productUnit + 
                    " - Product Category : " + productArray[value].productCategory + 
                    " - Number of orders within the past 7 days : " + productArray[value].ordersPast7;
                    
            var node = document.createElement("P");
            node.appendChild(document.createTextNode(str));
            productDetails.appendChild(node);
            
            var quantity = document.getElementById("quantityField").value;
            
            for(var j = 0; j < productArray[value].listOfStores.length; j++){
                //This happens when we split the keywords by space and the user enteres an empty or newline.
                //Why didn't we just check it in the customer search router? Well because recursive async problems.
                if(typeof productArray[value].listOfStores[j].storeName != 'undefined'){
                    
                    var str = "Store Name : " + productArray[value].listOfStores[j].storeName +
                        " Store Unit Price : " + productArray[value].listOfStores[j].unitPrice +
                        " Store Stock : " + productArray[value].listOfStores[j].carriesQuantity;
            
                    var node = document.createElement("LI");
                    node.appendChild(document.createTextNode(str));
                    productDetails.appendChild(node);
                    var button = document.createElement("input");
                    button.type = "button";
                    
                    button.data = {carriesQty : productArray[value].listOfStores[j].carriesQuantity, pid : productArray[value].productID, storeName : productArray[value].listOfStores[j].storeName, qty : quantity, cid : cid};
                    button.value = "Add To Basket!";
                    button.onclick = function(){
                        console.log(this.data);
                        quantity = document.getElementById("quantityField").value;
                        this.data.qty = quantity;
                        if(quantity <= this.data.carriesQty){
                            var found = false;
                            for(var ord = 0; ord < basketArray.length; ord++){
                                if(basketArray[ord].pid == this.data.pid){
                                    found = true;
                                    basketArray[ord].qty = quantity;
                                    var nodepid = document.getElementById("qtyorder" + this.data.pid);
                                    nodepid.innerHTML = "quantity: " + quantity;
                                    break;
                                }
                            }
                            if(!found) {
                                basketArray.push(this.data);
                                
                                var node = document.createElement("LI");
                                node.id = "order" + this.data.pid;
                                var pidTextNode = document.createElement("P");
                                var quantityTextNode = document.createElement("P");
                                pidTextNode.appendChild(document.createTextNode("pid : " + this.data.pid));
                                quantityTextNode.appendChild(document.createTextNode("quantity : " + quantity));
                                quantityTextNode.id = "qtyorder" + this.data.pid;
                                
                                var button = document.createElement("input");
                                button.type = "button";
                                
                                button.data = productArray[value].productID;
                                button.value = "Delete!";
                                
                                button.onclick = function(){
                                    for(var ord = 0; ord < basketArray.length; ord++){
                                        if(basketArray[ord].pid == this.data){
                                            basketArray.splice(ord);
                                            basket.removeChild(document.getElementById("order" + this.data));
                                            break;
                                        }
                                    }
                                }
                            
                                node.appendChild(pidTextNode);
                                node.appendChild(quantityTextNode);
                                node.appendChild(button);
                                basket.appendChild(node);
                            }
                        }
                    };
                    productDetails.appendChild(button);
                    productDetails.appendChild(document.createElement('hr'));
                }
            }
            
            return str;
        }
        
        function order(){
            console.log(basketArray);
            var request = $.ajax({
              url: "/customerorder",
              type: "POST",
              data: {basketArray:basketArray}
            });
            
            request.done(function(msg) {
                if(msg == "Good"){
                    while (productDetails.firstChild) {
                        productDetails.removeChild(productDetails.firstChild);
                    }
                    while (basket.firstChild) {
                        basket.removeChild(basket.firstChild);
                    }
                } else {
                       
                }
            });
        }
        
        // function listOrders(){
        //     var request = $.ajax({
        //       url: "/customerlist",
        //       type: "POST"
        //     });
            
        //     request.done(function(orderArr) {
        //         for(var i = 0; i < orderArr.length; i++){
                    
        //         }
        //     });
        // }
        
    </script>
    
<% include ./partials/footer %>